.search-section {
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 70vh;

  gap: 20px;
}

h1 {
  text-align: center;
}

.books-information {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.books-information:has(.sidebar-wrapper) {
  justify-content: flex-start;
}


input {
  margin: 15px;
  padding: 5px;
  font-size: 1.2em;
}

input[type='text']:focus::placeholder {
  color: transparent;
}

input[type='submit']:focus,
input[type='submit']:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
