.cards {
  order: 1;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  flex: 1 1 50%;
}

.cards a {
  flex: 1 1 calc(33.33% - 1rem);
  text-decoration: none;
}
