.light {
  --button-hover-border: #4b9cd3;
  --card-background-color: #b5b6d1;
}

.dark {
  --button-hover-border: #646cff;
  --card-background-color: #d8e1e8;
}

.card {
  z-index: 22;
  background-color: var(--card-background-color);
  border-radius: 10px;
  border: 2px solid var(--card-background-color);
  width: 300px;
  height: 30vh;
  padding: 10px;
  margin: 10px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  border: 3px solid var(--button-hover-border);
}

.card h4 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0;
}

.card p {
  font-size: 1rem;
  color: #555;
  margin: 8px 0;
}

.card strong {
  color: #333;
}
