.light {
  --sidebar-background-color: #b5b6d1;
}

.dark {
  --sidebar-background-color: #d8e1e8;
}

.sidebar-wrapper {
  margin: 20px;
  z-index: 1;
  max-width: 40%;
  flex: 1 1 10%;
  overflow: hidden;
}

.hide-button {
  text-decoration: none;
  color: #000;
}

.hide-button:hover {
  color: #646cff;
}

.sidebar {
  height: 500px;
  background-color: var(--sidebar-background-color);
  padding: 1.5rem;
  border-radius: 8px;
  overflow-y: auto;
}

.title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.title p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.book-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #000;
}

.infoItem {
  margin-bottom: 1rem;
}

.infoItem p {
  font-size: 1rem;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
